// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
//hover/focus color
$primary__hover--focus:#2196F3;

//svg default color
$primary__svg--color: #AFB1B8;
$footer__svg--color: #fff;

//text color
$main__text--color: #212121;
$secondary__text--color: #757575;
$white__text--color: #fff;