// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
//bg color
$bg__bonus--color: #2A1B0E;
$main__bg--color: #F2E5D9;
$white__bg--color: #fff;
//text color
$bonus__text--color: #F2E5D9;