  /*hero_page*/
  .hero{
    background-image: url(/img/IMG_1953\ 1hero.png);
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  /*end hero_page*/